<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{profile.name}}</h2>
    <h2>{{profile.email}}</h2>
    <h2>{{profile.phone}}</h2>
    <hr>
    <br>
    <h4>Summary</h4>
    <p>{{profile.summary}}</p>
    <hr>
    <h4>Skills</h4>
    <p>{{profile.skills}}</p>
    <hr>
    <h4>Experience</h4>
    <p>{{profile.previous_work}}</p>
    <h4>Education</h4>
    <ul>
        <li>Schooling: {{profile.school}}</li>
        <li>{{profile.degree}} from {{profile.university}}</li>
    </ul>
    <hr>
</body>
</html>